{% extends "base.html" %}
{% load static %}


{% block content %}
<header class="container-fluid vh-80 home-header">
    <div class="row main-head"></div>
    <div class="main-caption text-center"><h1>All what you need is a good sleep!</h1>
    <p>Let us take care about quality of your sleep.</p>
    </div>
</header>
<section class="container-fluid">
    <article class="row vh-100">
        
    </article>
    <article class="row vh-100">
        
    </article>
    <article class="row vh-100">
        
    </article>

</section>
{% endblock %}