{% extends "base.html" %}
{% load static %}


{% block page_header %}
    
{% endblock %}

{% block content %}

<section id="top-section" class="pt-auto pb-auto" style="background-image: linear-gradient(rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0)), url({% static 'images/woman-sleep.webp' %})">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="display-4">All what you need is a good sleep</h1>
                <h2 class="display-4 mt-5 pb-5">Let us take care of the quality of your sleep.</h2>
                <!-- <div class="col12 text-center"> -->
                <a class="btn btn-dark text-uppercase py-3" href="#middle-section">
                    Discover our products
                </a>
            <!-- </div> -->
            </div>
        </div>
    </div>
</section>
<section id="middle-section-1">
    <div class="container-fluid mb-5">
        <div class="row">
            <div class="col">
                <img class="img-fluid" src="{% static 'images/blue-pillows.webp' %}">
                <h5 class="display-4">Soft and comfortable pillows - perfect choice for sleep lovers</h5>
            </div>
        </div>
    </div>
</section>
<section id="middle-section-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <img class="img-fluid" src="{% static 'images/aromatizer-main.webp' %}">
                <h2 class="display-4 text-center">Becouse sleep is relaxation</h2>
            <h5 class="display-6 text-center">Meet our aromatizer with specially selected oils for various purposes</h5>
            </div>
        </div>
    </div>
</section>
<section id="bottom-section">
            <div class="container-fluid mb-5">
                <div class="row h-25 pt-5 text-center">
                    <div class="col pt-5">
                        <h2 class="display-4">Good Night pajamas.</h2>
                    </div>
                </div>
                <div class="row h-50">
                    <div class="col d-none d-md-block h-100 pyjama-1">
                 <img class="img-fluid" src="{% static 'images/pijama-main-1.jpg' %}">
                </div>
                <div class="col h-100 pyjama-2">
                    <img class="img-fluid" src="{% static 'images/pijama-main-2.jpg' %}">
                </div>
                <div class="col d-none d-lg-block h-100 pyjama-3">
                    <img class="img-fluid" src="{% static 'images/pijama-main-3.jpg' %}">
                </div>
                </div>
                <div class="row h-25 pt-5 text-center">
                    <div class="col">
                        <h5 class="display-6">When the comfort meet fashion... Nice, but most of all comfortable and pleasant to the touch.</h5>
                        
                        <a class="btn btn-primary text-uppercase py-3" href="{% url 'products' %}?category=pyjamas">
                            Buy now
                        </a>
                    </div>
                </div>
            </div>

</section>
<!-- <div class="container-fluid pb-5 mb-5 vh-my-75">

    <div class="row h-75 pillow-img" style="background-image: url({% static 'images/blue-pillows.webp' %});">
        
    </div>
    <div class="row h-25 py-5 text-center">
        <div class="col">
            <h5 class="display-4">Soft and comfortable pillows - perfect choice for sleep lovers</h5>
            <a class="btn btn-primary text-uppercase py-3" href="{% url 'products' %}?category=pillows">
                Buy now
            </a>
        </div>
    </div>
</div> -->
<!-- <div class="container-fluid vh-100 aroma-section" style="background-image: url({% static 'images/aromatizer-main.webp' %});">
    <div class="row h-25 pt-5 text-center">
        <div class="col-6 offset-6 pb-5 rounded aroma-captions" >
            <h2 class="display-4">Becouse sleep is relaxation</h2>
            <h5 class="display-6">Meet our aromatizer with specially selected oils for various purposes</h5>
            <a class="btn btn-primary text-uppercase py-3" href="{% url 'products' %}?category=aromatherapy">
                Buy now
            </a>
        </div>
    </div>
    <div class="col h-75">
        
    </div>
    
</div> -->
<!-- <div class="container-fluid vh-100 mb-5">
    <div class="row h-25 pt-5 text-center">
        <div class="col pt-5">
            <h2 class="display-4">Good Night pajamas.</h2>
        </div>
    </div>
    <div class="row h-50">
        <div class="col d-none d-md-block h-100 pyjama-1" style="background-image: url({% static 'images/pijama-main-1.jpg' %});">
     
    </div>
    <div class="col h-100 pyjama-2" style="background-image: url({% static 'images/pijama-main-2.jpg' %});">

    </div>
    <div class="col d-none d-lg-block h-100 pyjama-3" style="background-image: url({% static 'images/pijama-main-3.jpg' %});">

    </div>
    </div>
    <div class="row h-25 pt-5 text-center">
        <div class="col">
            <h5 class="display-6">When the comfort meet fashion... Nice, but most of all comfortable and pleasant to the touch.</h5>
            
            <a class="btn btn-primary text-uppercase py-3" href="{% url 'products' %}?category=pyjamas">
                Buy now
            </a>
        </div>
    </div>
</div> -->

{% endblock %}
