html {
    height: 100%;
}

.logo-caption {

    /* color: #FFD700; */
    font-family: 'Exo 2', sans-serif;
    text-transform: uppercase;
}

.main-header {
    background-color: #000000;
    white-space: nowrap;
    z-index: 100;
}

.empty-container {
    padding-top: 90px;
}

#top-section {
    background-size: cover;
    background-position: 78% -100px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 80vh;
    color: #ffffff;
    padding-top: 10rem;
}

#middle-section-1 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 35rem;
    color: #000000;
}

#middle-section-2 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 35rem;
    color: #000000;
}

#bottom-section {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 35rem;
    color: #000000;
}

.pyjama-1 {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.pyjama-2 {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.pyjama-3 {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
}

/* buttons */
.btn-black {
    background-color: #000000;
    color: #ffffff;
}

.btn-black:hover {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
}

.btn-primary:hover {
    background-color: #ffffff;
    color: #007bff;
    border: 1px solid #007bff;
}

.my-main-link {
    color: #000000;
}

.product-card:hover {
    color: #000000;
    text-decoration: none;
    border: 1px solid #000000;
}
.my-main-link:hover {
    color: #000000;
    text-decoration: none;
}

/* bootstrap toasts  */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* blog */
/* post-detail-page */

.post-detail-container {
    min-height: 80vh;
}

@media (max-width:376px) {
    .empty-container {
        padding-top: 152px;
    }
    #top-section {
            background-position: 78% -50px;
        
    }
}
@media (max-width:236px) {
    .empty-container {
        padding-top: 208px;
    }
    #top-section {
        background-position: 78% 0px;
    }
}