html {
    height: 100%;
}

.logo-caption {

    /* color: #FFD700; */
    font-family: 'Exo 2', sans-serif;
    text-transform: uppercase;
}

.vh-my-75 {
    height: 75vh;
}

.main-header {
    background-color: #000000;
    white-space: nowrap;
    z-index: 100;
}

.empty-container {
    padding-top: 120px;
}

.top-home-img{
    background-image: url(/media/images/woman-sleep.webp);
    background-size: cover;
    background-position: right top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pillow-img {
    background-image: url(/media/images/blue-pillows.webp);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;

}

.aroma-section{
    background-image: url(/media/images/aromatizer-main.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
}

.aroma-captions {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.2);
}

.pyjama-1 {
    background-image: url(/media/images/pijama-main-1.jpg);
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.pyjama-2 {
    background-image: url(/media/images/pijama-main-2.jpg);
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.pyjama-3 {
    background-image: url(/media/images/pijama-main-3.jpg);
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.btn-black {
    background-color: #000000;
    color: #ffffff;
}

.btn-black:hover {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
}

.btn-primary:hover {
    background-color: #ffffff;
    color: #007bff;
    border: 1px solid #007bff;
}

.my-main-link {
    color: #000000;
}

#product-card:hover {
    color: #000000;
    text-decoration: none;
    border: 1px solid #000000;
}
.my-main-link:hover {
    color: #000000;
    text-decoration: none;
}

/* bootstrap toasts  */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.review-container {
    height: 300px;
}

@media (max-width:382px) {
    .empty-container {
        padding-top: 166px;
    }
}
@media (max-width:236px) {
    .empty-container {
        padding-top: 218px;
    }
}