<footer class="container-fluid bg-dark mt-5">
    <div class="row">
        <div class="col-12 text-center">

            <ul class="nav justify-content-center font-weight-bold">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'products' %}">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog' %}">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>

        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-6 offset-sm-6 col-md-4 offset-md-8 align-self-end text-white text-center mt-2">
            <h5 class="mb-2">Our place:</h5>
            <p class="mb-0">Good Night Store</p>
            <p class="mb-0">Kronkendonk 22</p>
            <p class="mb-0">3245 KR Sleepvliet</p>
            <p >Netherland</p>
        </div>
    </div>

</footer>